.tb {
    background-color: rgb(216, 234, 234);
    border-collapse: collapse;
    border: solid;
    border-width: 5px 5px 5px 5px;
    border-color:rgb(179, 210, 179);
    margin-bottom: 25px;
    /* color: white; */
}

.tb th {
    border: solid;
    border-width: 1px 1px 3px 1px;
}

.tb td {
    border: solid;
    border-width: 1px 1px 1px 1px;
    text-align: center;
}

.trQuantities td {
    font-style: italic;
    color: darkolivegreen;
    border-top-width: 2px;
}

#tbSummary td {
    width: 80px;
}

#tbSummary tr :first-child {
    width: 110px;
}
/* 
.btMaterialTypes button {
    background-color: #169164;
    border: 1px solid green;
    color: white;
    padding: 10px 24px;
    cursor: pointer;
    display: block;
    width: 16%;
}
.btMaterialTypes button:not(:last-child) {
    border-bottom: none;
}
.btMaterialTypes button:hover {
    color: black;
    background-color: rgb(183, 242, 183);
} */